	#naviBar {
		list-style-type: none;
		overflow: auto;
		}
	
	#select {
		display: block;
		color: black;
		padding: 8px 16px;
		text-decoration: none;
		position : relative;
		margin-top : 20px;
		text-align:center;
		z-index:1;
		}
	#select:before{
		content: '';
		position: absolute; /*遺�紐� �슂�냼�뿉�뒗 position: relative瑜� 二쇱뼱�빞 �븿*/
		background-color: #FF007F;
		height: 50px;
		width: 0; /*珥덇린�뿉 蹂댁씠吏� �븡�룄濡�*/
		bottom: -5px; /*a�깭洹� �븘�옒�뿉 �쐞移�*/
		transition: 0.7s; /*�븷�땲硫붿씠�뀡 �룞�옉 �떎�뻾 �떆媛� �젙�쓽*/
		margin-left:29px;
		left:0;
		z-index : -1;
		}
		
	#select:hover:before{
		width: 83%;
		}
	#select:hover{
		color:white;	
		}
		
	#bookBox{
		margin : 100px 0 0 18%;
		float : right;
		width : 45%;
		height: 100%;
		}
		
	#bookView {
		width : 100%;
		height: 30%;
		background : #CFCFCF;
	
	}
	#MyPageBox{
			text-align:center;
			color:white;
			height:100px;
			background:#2F506D;
		}
	table,tr,td,th{
		border:0px solid gray;
		
	}
	
	table {
		margin-left:20px;
	}
	th{
		padding : 5px;
		width:150px;
	}
	td {
		padding : 5px;
		width:600px;
		
	}
	/* 留덉씠由щ럭 由ъ뒪�듃 */
	#reviewTable {
		margin : 12% 0 0 18%;
		float : right;
		width : 45%;
		height: 100%;
	}
	tbody > tr > td > p {
		margin: 0;
	}