/* 07.12 김영민 css제작 */
/* userList */
.container-fluid {
	padding: 0;
}

.row {
	--bs-gutter-x: 0;
}

.table-hover {
	margin-left: 250px;
	margin-right: 250px;
	margin-top: 50px;
}
.category {
	margin-left: 250px;	
}

.btn-sm {
	background-color: #2F506D !important;
  	border-color: #2F506D !important;
  	color: white !important;
}

/* userModify */
.modify-div {
	margin-left: 250px;
	margin-right: 250px;
}

.find-addr{
	background-color: #2F506D !important;
  	border-color: #2F506D !important;
  	color: white !important;
}