/* commonheader */
	/* 07.04 김연희 : 검색창 클릭했을때 테두리 안나오게 설정  */
    input:focus{outline:none;}
    
/* developerheader */
    /* 07.06 김영민 대분류 클릭했을 경우 색상 변경 */
	.active2 {
		  background-color: #2F506D !important;
		  border-color: #2F506D !important;
		}

html,body {
	 margin: 0px;
	 }

      @media (max-width: 1000px) {
        #searchBar {
         display:none;
        }
      }
      
      @media (max-width: 576px) {
        #category {
         display:none;
        }
      }


/* footer */
#footer{
			width: 100%;
			bottom: 0;
			left: 0;
			/*position: absolute;*/
		}
		