	html,body {
		margin: 0px;
	}

    @media (max-width: 1000px) {
    	#searchBar {
         display:none;
        }
    }
      
    @media (max-width: 576px) {
		#category {
         display:none;
        }
    }
    
/*07.08 김연희: hostcenter css별도 파일로 분리*/

	.bd-placeholder-img {
        font-size: 1.25rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      #header {
      	 text-decoration : none;
      }
      #header:link {
 		 color : white;
	  }
	  #header:visited {
 		 color : white;
	  }
	  #header:hover {
		  color : black;
	  }
	  #header:active {
 		 color : gray;
	  }
	  
/* 2022.07.15 김연희 : ul로 스타일 부여하던것 클래스로 변경  */	  
	.H_ul {
 		 list-style-type: none;
 		 margin: 0;
 		 margin-top : 60px;
 		 padding: 0;
 		 width: 11%;
 		 background-color: #242424;
 		 position: fixed; 
 		 left : 0;
 		 height: 100%;
 		 overflow: auto;
	}

	.H_ul li a {
  		display: block;
  		color: white;
  		padding: 8px 16px;
  		text-decoration: none;
  		position : relative;
  		margin-top : 60px;
  		text-align:center;
  		font-size : 1.25erm;
	}
	.H_ul li a:before{
		content: '';
    	position: absolute; /*부모 요소에는 position: relative를 주어야 함*/
    	background-color: white;
    	height: 1px;

    	width: 0; /*초기에 보이지 않도록*/
    	bottom: 0; /*a태그 아래에 위치*/
    	transition: 0.7s; /*애니메이션 동작 실행 시간 정의*/
    	margin-right:64px;
    	right:0;
	}

	.H_ul > li a:hover:before{
		width: 100%;
	}
	.H_ul >li a:hover{
		color:white;	
	}


/* ------------------------------a-------------------------- */
	a{
		decoration: none;
	}
	
	a:link{
	
	}

	a:hover{
	
	}
	
/* ----------------------------body----------------------------------------- */
	
	main{
	margin-left: 11%;
	margin-top: 140px;
	margin-right: 11%;
	}

	section{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
    	justify-content: center;
    	margin-left: 5%;
	} 
	
	article{
		display: flex;
		flex-direction: row;
		align-items: flex-start;
    	justify-content: flex-start;
    	flex-wrap: wrap;
    	
	} 
	
	
	input[type=radio]{
		display: none;
	}
	
	.title1{
	/* span 태그들에 설정 */
	
    	display: inline-block;
    	margin: 20px 0px 10px 110px;
    	vertical-align: top;
    	font-size: 24px;
    	font-weight: bold;
	}
	
	.title1-1{
	/* 인라인 블럭 삭제 */
    	margin: 20px 0px 10px 110px;
    	vertical-align: top;
    	font-size: 24px;
    	font-weight: bold;
	}
	
	.title2{
	/* span 태그들에 설정 */
	
    	display: inline-block;
    	margin: 20px 0px 10px 0px;
    	vertical-align: top;
    	font-size: 20px;
    	font-weight: bold;
	}
	
	.title2-1{
		display: inline-block;
    	margin: 20px 0px 10px 0px;
    	vertical-align: top;
    	font-size: 20px;
    	font-weight: bold;
    	width: 800px;
	}


	.title3{
	   display: inline-block;
    	margin: 20px 0px 10px 0px;
    	vertical-align: top;
    	font-size: 16px;
    	font-weight: bold;
	}
	
	

	.horison{
	 	border: solid 1px black;
	 	margin: 20px 0px 20px 0px;
	}


	input[type=text]{
		border: 1px solid #8c8c8c;
		border-radius: 5px;
		height: 35px;
	
	}
	
	textarea{
		border: 1px solid #8c8c8c;
		border-radius: 5px;
		resize: none;
	}

	/* 버튼 */
	.btnDefault{
		background:#364F6B;
		color: white;
		border-radius: 10px;
		border:none;
		width: 60px;
		height: 30px;
	}
	
	
	.btnBig{
		background:#364F6B;
		color: white;
		border-radius: 10px;
		border:none;
		width: 130px;
		height: 40px;
		margin: 5px;
	}
	
	.btnDisabled{
		background: #A3AEBB;
		color: white;
	
	}
	
	.forFloat{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: baseline;
		width: 75%;
	}

	/* 해쉬태그 */
	
	#tag-list{
		position: relative;
    	list-style-type: none;
    	background: white;
   	 	height: 100%;
    	overflow: visible;
    	padding-left: 0px;
	}
	
	.tag-item{
		background: #AECDFF;
		border-radius: 20px;
		padding: 8px 20px 0px 20px;
	    margin: 5px;
	    width: max-content;
	    height: 40px;
		
	}

	.del-btn{
		color: grey;
		margin-left: 5px; 
		
	}
	
	.del-btn:hover{
		cursor: pointer;
	}
	
	
	/* promotion */
	
	
	.promotionViewDIV {
		border: 1px solid grey;
		margin: 30px;
		width: 80%;
		hight: 400px;
		padding: 30px 50px 30px 50px;
	}
	
	.promotionTable{
		width: 100%;
	}
	
	.promotionTD {
		width: 120px;
		vertical-align: top;
		padding-left: 30px;
		
	}
	
	.promotionTD2 {
		
		vertical-align: top;
		padding-left: 5px;
		
	}
	
	/* 공지사항 */
	.noticeT{
		margin: 20px 0px 10px 120px;
		border-radius: 20px;
		width: 80%;
		background: rgba(217, 217, 217, 0.5);
	
	}
	
	.noticeTD1{
		padding: 30px 10px 10px 40px;
		width: 110px;
	}
	
	.noticeTD2{
		padding: 30px 0px 10px 0px;
	
	}
	
	.noticeArea{
		padding : 70px;
		height: 400px;
		vertical-align: top;
		border-top: 1px solid black;
	}
	
	.spaceL{
		margin-left: 110px;
	}
	
	.spaceR{
		margin-left: 11%;
	}
	
	/* FaQ */
	.FAQ{
		background: #DFDFDF;
	}
	
	/* 문의사항 */
	
	.inquiryT{
		width:70%;
		border: 1px solid #DFDFDF;
		border-radius: 20px;
		
		
	
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	