/* commonHeader */
	/* 07.04 */
    input:focus{outline:none;}
    /* 07.07 */
    #header{
    height: 200px;
    }
    #aticleHeader{
    	padding-top: 32px;
    	background-color: white;
    }
/* section*/
	/*07.08  */
	a{
	text-decoration: none;
	}
	a:link{
	color: black;
	}
	a:visited{
	color: black;
	}
	a:hover{
	color: #6e6e6e;
	}
	a:active{
	color: #6e6e6e;
	}
    
    
/* developerHeader */
    /* 07.06  */
	.active2 {
		  background-color: #2F506D !important;
		  border-color: #2F506D !important;
		}

	html,body {
		margin: 0px;
	}

    @media (max-width: 1000px) {
    	#searchBar {
         display:none;
        }
    }
      
    @media (max-width: 576px) {
		#category {
         display:none;
        }
    }



/* footer */
	#footer{
		width: 100%;
		
	}
/* 07.07   */	
	
	#wrap {
	    display: flex;
	  	min-height: 100%;
	  	flex-direction: column; 
   	  	justify-content: flex-end;
	}
		
		
	

		/* 07.27 김영희 장소 리스트 반응형 */
		/* 더큰화면 데스크탑 (가로 해상도가 1920px 보다 작은 화면에 적용) */

		 
		/* @media (max-width: 1919px) { 
			main {
				margin-left: 22%;
				margin-right: 21%;
			}
		}
		
		max-width: 0~1199px;
		@media (max-width: 1199px) { 
			main {
				margin-left: 13%;
				margin-right: 13%;
			}
		}
			 */
	

	/* 글씨 편하게 조절하기 위해 설정 */		 

	.title1{
    	display: inline-block;
    	margin: 20px 0px 20px 0px;
    	vertical-align: top;
    	font-size: 24px;
    	font-weight: bold;
	}
	
	
	.title2{
	
    	display: inline-block;
    	margin: 20px 0px 20px 0px;
    	vertical-align: top;
    	font-size: 20px;
    	font-weight: bold;
	}
	
	.title2-1{
		display: inline-block;
    	margin: 5px 0px 5px 0px;
    	vertical-align: top;
    	font-size: 20px;
    	font-weight: bold;
    	width: 800px;
	}
	
	.title3{
		display: inline-block;
    	font-size: 18px;
    	font-weight: bold;
    	color: #364F6B;
	}
			 