	html,body {
		margin: 0px;
	}

    @media (max-width: 1000px) {
    	#searchBar {
         display:none;
        }
    }
      
    @media (max-width: 576px) {
		#category {
         display:none;
        }
    }
    
/*07.08 김연희: hostcenter css별도 파일로 분리*/

	.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      #header {
      	 text-decoration : none;
      }
      #header:link {
 		 color : white;
	  }
	  #header:visited {
 		 color : white;
	  }
	  #header:hover {
		  color : black;
	  }
	  #header:active {
 		 color : gray;
	  }
	  
	ul {
 		 list-style-type: none;
 		 margin: 0;
 		 margin-top : 40px;
 		 padding: 0;
 		 width: 11%;
 		 background-color: #242424;
 		 position: fixed; left : 0;
 		 height: 100%;
 		 overflow: auto;
	}

	li a {
  		display: block;
  		color: white;
  		padding: 8px 16px;
  		text-decoration: none;
  		position : relative;
  		margin-top : 30px;
  		text-align:center;
	}
	li a:before{
		content: '';
    	position: absolute; /*부모 요소에는 position: relative를 주어야 함*/
    	background-color: white;
    	height: 1px;

    	width: 0; /*초기에 보이지 않도록*/
    	bottom: 0; /*a태그 아래에 위치*/
    	transition: 0.7s; /*애니메이션 동작 실행 시간 정의*/
    	margin-right:64px;
    	right:0;
	}

	li a:hover:before{
		width: 100%;
	}
	li a:hover{
		color:white;	
	}

	main{
		margin-top: 100px;
	}	

	.title{
		font-family: 'Inter';
		font-style: normal;
		font-weight: 800;
		font-size: 16px;

	}

/* ------------------------section----------------------------------------- */

	section{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
    	justify-content: center;
	} 
	
	
	
	input[type=radio]{
		display: none;
	}
	
	
	.frmTitle{
	/* span 태그들에 설정 */
	
    	display: inline-block;
    	margin: 20px 0px 10px 0px;
    	vertical-align: top;
    	font-size: 16px;
    	font-weight: bold;
	}



	.frmSemiTitle{
	   display: inline-block;
    	margin: 20px 0px 10px 0px;
    	vertical-align: top;
    	font-size: 14px;
    	font-weight: bold;
	}
	
	

	.horison{
	 	border: solid 1px black;
	 	margin: 20px 0px 20px 0px;
	}


	input[type=text]{
		border: 1px solid #8c8c8c;
		border-radius: 5px;
		height: 35px;
	
	}
	
	textarea{
		border: 1px solid #8c8c8c;
		border-radius: 5px;
		resize: none;
	}

	.btnDefault{
		background:#364F6B;
		color: white;
		border-radius: 10px;
		border:none;
		width: 60px;
		height: 30px;
	
	}
	
	
	.btnBig{
		background:#364F6B;
		color: white;
		border-radius: 10px;
		border:none;
		width: 130px;
		height: 40px;
	
	}
		 