@charset "UTF-8";
	
	/* 해쉬태그 */
	
	#tag-list{
		position: relative;
    	list-style-type: none;
    	background: white;
   	 	height: 100%;
    	overflow: visible;
    	padding-left: 0px;
	}
	
	.tag-item{
		background: #AECDFF;
		border-radius: 20px;
		padding: 8px 20px 0px 20px;
	    margin: 5px;
	    width: max-content;
	    height: 40px;
		
	}

	.del-btn{
		color: grey;
		margin-left: 5px; 
		
	}
	
	.del-btn:hover{
		cursor: pointer;
	}
	
	
	