	#naviBar {
			list-style-type: none;
			overflow: auto;
			}
		
		#select {
			display: block;
			color: black;
			padding: 8px 16px;
			text-decoration: none;
			position : relative;
			margin-top : 20px;
			text-align:center;
			z-index:1;
			}
		#select:before{
			content: '';
			position: absolute; /*�겫占쏙쭗占� 占쎌뒄占쎈꺖占쎈퓠占쎈뮉 position: relative�몴占� 雅뚯눘堉깍옙鍮� 占쎈맙*/
			background-color: #FF007F;
			height: 50px;
			width: 0; /*�룯�뜃由곤옙肉� 癰귣똻�뵠筌욑옙 占쎈륫占쎈즲嚥∽옙*/
			bottom: -5px; /*a占쎄묶域뱄옙 占쎈툡占쎌삋占쎈퓠 占쎌맄燁삼옙*/
			transition: 0.7s; /*占쎈막占쎈빍筌롫뗄�뵠占쎈�� 占쎈짗占쎌삂 占쎈뼄占쎈뻬 占쎈뻻揶쏉옙 占쎌젟占쎌벥*/
			margin-left:29px;
			left:0;
			z-index : -1;
			}
			
		#select:hover:before{
			width: 83%;
			}
		#select:hover{
			color:white;	
			}
		
	#infoBox{
			margin : 10% 0 10% 10%;
			float : right;
			background: #F2F2F2;
			width : 30%;
			height: 70%;
			text-align:center;
	
		}
		table {
			width : 400px;
			margin-left:auto;
			margin-right:auto;
		
		}
		table,tr,td {
			height : 40px;
			text-align: center;
		}
		
		
	#MyPageBox{
			text-align:center;
			color:white;
			height:100px;
			background:#2F506D;
		}
		#regBtn {
			margin-right: 13px;
			float:right;
			border-radius:15px;
			border : 1px solid #2F506D;
			background : #2F506D;
			color : white;
			width : 90px;
			height : 30px;
		}
		#regBtn:hover{
			border : 0px;
			background-color:#3FC1C9;
		}
		#infoText {
			border : 0;
			background : #D8D8D8;
			width : 250px;
		}
		input[type=text]{
			width : 350px;
		}