	#naviBar {
			list-style-type: none;
			overflow: auto;
			}
		
		#select {
			display: block;
			color: black;
			padding: 8px 16px;
			text-decoration: none;
			position : relative;
			margin-top : 20px;
			text-align:center;
			z-index:1;
			}
		#select:before{
			content: '';
			position: absolute; /*占쎄껀�뜝�룞彛쀥뜝占� �뜝�럩�뭵�뜝�럥爰뽩뜝�럥�뱺�뜝�럥裕� position: relative占쎈ご�뜝占� �썒�슣�닔�젆源띿삕�뜮占� �뜝�럥留�*/
			background-color: #FF007F;
			height: 50px;
			width: 0; /*占쎈／占쎈쐝�뵳怨ㅼ삕�굢占� �솻洹ｋ샍占쎈턄嶺뚯쉻�삕 �뜝�럥瑜ュ뜝�럥利꿨슖�댙�삕*/
			bottom: -5px; /*a�뜝�럡臾뜹윜諭꾩삕 �뜝�럥�닡�뜝�럩�굥�뜝�럥�뱺 �뜝�럩留꾤뇖�궪�삕*/
			transition: 0.7s; /*�뜝�럥留됧뜝�럥鍮띸춯濡ル뾼占쎈턄�뜝�럥占쏙옙 �뜝�럥吏쀥뜝�럩�굚 �뜝�럥堉꾢뜝�럥六� �뜝�럥六삥뤆�룊�삕 �뜝�럩�젧�뜝�럩踰�*/
			margin-left:29px;
			left:0;
			z-index : -1;
			}
			
		#select:hover:before{
			width: 83%;
			}
		#select:hover{
			color:white;	
			}
		
	#infoBox{
			margin : 10% 0 10% 10%;
			float : right;
			background: #F2F2F2;
			width : 30%;
			height: 70%;
			text-align:center;
	
		}
		table {
			width : 400px;
			margin-left:auto;
			margin-right:auto;
		
		}
		table,tr,td {
			height : 40px;
			text-align: center;
		}
		
		
	#MyPageBox{
			text-align:center;
			color:white;
			height:100px;
			background:#2F506D;
		}
		#regBtn {
			margin-right: 13px;
			float:right;
			border-radius:5px;
			border : 1px solid #2F506D;
			background : #2F506D;
			color : white;
			width : 90px;
			height : 30px;
		}
		#regBtn:hover{
			border : 0px;
			background-color:#6b818c;
		}
		#infoText {
			border : 0;
			background : #D8D8D8;
			width : 250px;
		}
		input[type=text]{
			width : 350px;
		}