/* tag */
body {
	position: relative;
	heightoverflow-y: scroll;
}
section {
	margin-top: 70px;
}

caption {
	padding-bottom: 40px;
}
/* class */
.row {
	--bs-gutter-x:0;
}
.icon {
	font-size: 18px;
}

.btn-sm {
    background-color: #2F506D !important;
    border-color: #2F506D !important;
    color: white !important;
}

/* nav */
.nav-scroller{
	background-color: #D9D9D9;
	border-color: #D9D9D9;
}

.link-secondary {
	vertical-align: middle;
	text-align: center;
}

.list-group-item-action {
	background-color: var(--bs-gray-300);
    border-color: var(--bs-gray-300);
    color: black ;
}

nav > a.active {
	background-color: #2F506D !important;
    border-color: #2F506D !important;
}

#simple-list-example {
	position: sticky;
	top: 96px;
	z-index:2;
}

/* book */
.bookBtn {
	background-color: #2F506D !important;
    border-color: black !important;
    color: white !important;
}

.timePicker, .datePicker, .peopleCnt {
	background-color: white !important;
    border-color: black !important;
    color: black !important;
}

#book {
	position: sticky;
	top: 96px;
}


/* 카카오맵 스타일 */
.map_wrap {position:relative;overflow:hidden;width:800;height:400px;}
.radius_border{border:1px solid #919191;border-radius:5px;}     
.custom_zoomcontrol {position:absolute;top:50px;right:10px;width:36px;height:80px;overflow:hidden;z-index:1;background-color:#f5f5f5;} 
.custom_zoomcontrol span {display:block;width:36px;height:40px;text-align:center;cursor:pointer;}     
.custom_zoomcontrol span img {width:15px;height:15px;padding:12px 0;border:none;}             
.custom_zoomcontrol span:first-child{border-bottom:1px solid #bfbfbf;}