	.hr-sect {
        display: flex;
        flex-basis: 100%;
        align-items: center;
        color: rgba(0, 0, 0, 0.35);
        font-size: 15px;
        margin: 8px 0px;
      }
	.hr-sect::before,
	.hr-sect::after {
        content: "";
        flex-grow: 1;
        background: rgba(0, 0, 0, 0.35);
        height: 1px;
        font-size: 0px;
        line-height: 0px;
        margin: 0px 16px;
      }
	.textbox{
		border :2px solid;
		border-radius:5px;
		width : 300px;
		height : 35px;
		background: transparent;
	}
	.btn.btn-sm{
		margin-bottom: 8px;
		border :0px;
		background-color :#2F506D;
		color:white;
		height: 33px;
		border-radius:5px;
	}
	.btn.btn-l{
		margin-bottom: 8px;
		border :0px;
		background-color :#2F506D;
		color:white;
		height: 25px;
		border-radius:5px;
		padding: 0px;
	}
	#signBtn:hover {
		border : 0px;
		background-color:#6b818c;
	}
	a{
		text-decoration : none;
		color : black;
	}
	#frm{
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 300px;
	}
	
	.signUpBox{
	    width: 400px;
	    height: 70%;
	    background: #f9f9fa;
	    border-radius: 20px;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    box-shadow: 10px 10px 10px 10px #a7a7a7;
	   
	}
	
	input:not([type='checkbox']) {
		background: white;
	    border: 1px solid #a7a7a7;
	    border-radius: 5px;
	    width: 300px;
	    height: 35px;
	    margin-bottom: 15px;
	}
	
	
	#joinBtn {
		margin-top: 5px;
		background-color :#2F506D;
		color:white;
	}
	
	.w300 {
		width: 300px !important;
	}
	
	.searchBoxB{
	    width: 400px;
	    height: 400px;
	    background: #f9f9fa;
	    border-radius: 20px;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    box-shadow: 10px 10px 10px 10px #a7a7a7;
	}
	
	.searchBoxA{
	    width: 400px;
	    height: 500px;
	    background: #f9f9fa;
	    border-radius: 20px;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    box-shadow: 10px 10px 10px 10px #a7a7a7;
	}
	
	#searchBtn {
		margin-top: 5px;
		background-color :#2F506D;
		color:white;
	}
	
	.id_ok{
color:#008000;
display: none;
}

.id_already{
color:#6A82FB;
display: none;
}
.nick_ok{
color:#008000;
display: none;
}

.nick_already{
color:#6A82FB;
display: none;
}
	