		#naviBar {
			list-style-type: none;
			overflow: auto;
			}
		
		#select {
			display: block;
			color: black;
			padding: 8px 16px;
			text-decoration: none;
			position : relative;
			margin-top : 20px;
			text-align:center;
			z-index:1;
			}
		#select:before{
			content: '';
			position: absolute; /*부모 요소에는 position: relative를 주어야 함*/
			background-color: #FF007F;
			height: 50px;
			width: 0; /*초기에 보이지 않도록*/
			bottom: -5px; /*a태그 아래에 위치*/
			transition: 0.7s; /*애니메이션 동작 실행 시간 정의*/
			margin-left:29px;
			left:0;
			z-index : -1;
			}
			
		#select:hover:before{
			width: 83%;
			}
		#select:hover{
			color:white;	
			}
		
	#withdrawBox{
			margin : 10% 0 10% 26%;
			float : right;
			background: #F2F2F2;
			width : 30%;
			height: 70%;
			text-align:center;
	
		}
		
	#MyPageBox{
			text-align:center;
			color:white;
			height:15%;
			background:#2F506D;
		}
		#withdrawBtn {
			margin-right: 13px;
			border-radius:15px;
			border : 1px solid #2F506D;
			background : #2F506D;
			color : white;
			width : 90px;
			height : 30px;
		}
		#withdrawBtn:hover{
			border : 0px;
			background-color:#3FC1C9;
		}
		#pwdBox {
			border : 0;
			background : #D8D8D8;
			width : 250px;
			height:32px;
		}
		
		#withdrawBtn2 {
			margin-right: 13px;
			border-radius:15px;
			border : 1px solid #2F506D;
			background : #2F506D;
			color : white;
			width : 150px;
			height : 30px;
		}
		#withdrawBtn2:hover{
			border : 0px;
			background-color:#3FC1C9;
		}
	