<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
				"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name = "cacheEnabled" value = "false"/>
		<setting name = "jdbcTypeForNull" value = "NULL"/>
	</settings>
	<typeAliases>
		<!-- mapper에서 사용할 vo의 별칭을 등록해두는 곳입니다. -->

     <typeAlias type="three.people.vo.UserVO" alias="userVO"/>
        <typeAlias type="three.people.vo.ApprovalVO" alias="ApporvalVO"/>
        <typeAlias type="three.people.vo.BlockVO" alias="BlockVO"/>
        <typeAlias type="three.people.vo.BookVO" alias="BookVO"/>
        <typeAlias type="three.people.vo.InquiryVO" alias="InquiryVO"/>
        <typeAlias type="three.people.vo.NoticeVO" alias="NoticeVO"/>
        <typeAlias type="three.people.vo.FaqVO" alias="FaqVO"/>
        <typeAlias type="three.people.vo.PlaceVO" alias="PlaceVO"/>
        <typeAlias type="three.people.vo.ImageVO" alias="ImageVO"/>
        <typeAlias type="three.people.vo.SearchVO" alias="SearchVO"/>
        <typeAlias type="three.people.vo.EventVO" alias="EventVO"/>
        <typeAlias type="three.people.vo.QnaVO" alias="QnaVO"/>
        <typeAlias type="three.people.vo.HeartVO" alias="HeartVO"/>
        <typeAlias type="three.people.vo.ReviewVO" alias="ReviewVO"/>
        <typeAlias type="three.people.vo.ReportVO" alias="ReportVO"/>
        <typeAlias type="three.people.vo.IncomeVO" alias="IncomeVO"/>



    </typeAliases>


</configuration>
