<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="three.people.mapper.adminMapper">
	
	<select id="userList" parameterType="SearchVO" resultType="UserVO">
		SELECT uidx,
			   id,
			   password,
			   name,
			   nickname,
			   birth,
			   userphone,
			   email,
			   gender,
			   addr,
			   regnum,
			   role,
			   delyn,
			   jdate
		  FROM user
		 WHERE role = #{role}
		 <if test="role == 2">
		 	<include refid="searchUser"></include> 
		 </if>
		 <if test="role == 3">
		 	<include refid="searchEnter"></include>
		 </if>
	 	 LIMIT #{start}, #{cntPerPage}
	</select>
	
	<sql id="searchUser">
		<if test="searchType != null">
			<if test='searchType.equals("name")'>
		   		AND (name LIKE CONCAT('%',#{searchValue},'%'))
		 	</if>
		 	<if test='searchType.equals("id")'>
		   		AND (id LIKE CONCAT('%',#{searchValue},'%'))
		 	</if>		
		</if>
	</sql>
	<sql id="searchEnter">
		<if test="searchType != null">
			<if test='searchType.equals("name")'>
		   		AND (name LIKE CONCAT('%',#{searchValue},'%'))
		 	</if>
		 	<if test='searchType.equals("nickName")'>
		   		AND (nickname LIKE CONCAT('%',#{searchValue},'%'))
		 	</if>		
		</if>
	</sql>
	<select id="userOne" parameterType="UserVO" resultType="UserVO">
		SELECT uidx,
			   id,
			   password,
			   name,
			   nickname,
			   birth,
			   userphone,
			   email,
			   gender,
			   addr,
			   regnum,
			   role,
			   delyn,
			   jdate
		  FROM user
		 WHERE uidx = #{uidx} 
	</select> 
	
	<!-- 07.15 김영민: 유저 정보수정하기 --> 
	<update id="userInfo" parameterType="UserVO">
		UPDATE user
		   SET id = #{id},
		       password = #{password},
		       name = #{name},
		       email = #{email},
		       addr = #{addr},
		       nickname = #{nickName},
		       userphone = #{userPhone},
	       <if test="role == 2">
		       birth = #{birth}
	       </if>
	       <if test="role == 3">
		       regnum = #{regnum}
	       </if>
		 WHERE uidx = #{uidx}      
	</update>
	<!-- 07.15 김영민: 업체 삭제 -->
	<update id="enterDelete" parameterType="UserVO">
		UPDATE user
		   SET delyn = 'Y'
	     WHERE uidx = #{uidx}
	</update>
	<!-- 07.15 김영민: 해당하는 업체 리스트 -->
	<select id="enterPlace" parameterType="UserVO" resultType="PlaceVO">
		SELECT placename
		  FROM place
		 WHERE uidx = #{uidx}
	</select>
	<!-- 업체 장소 승인여부 리스트 -->
	<select id="approvalPlace" parameterType="SearchVO" resultType="PlaceVO">
		SELECT u.uidx,
			   u.id,
			   u.name,
			   u.nickname,
			   u.userphone,
			   u.email,
			   u.addr,
			   u.regnum,
			   u.role,
			   u.delyn,
			   u.jdate,
			   p.pidx,
			   p.category,
			   p.placeName,
			   p.eventYN,
			   p.placeDetail,
			   p.guide,
			   p.tag,
			   p.placeImg,
			   p.address,
			   p.option1,
			   p.option2,
			   p.price,
			   p.delYN,
			   p.approvalYN,
			   p.intervalTime,
			   p.availTimeValue
		  FROM user u
		  JOIN place p
		    ON u.uidx = p.uidx
      ORDER BY p.pidx DESC
	</select>
	
	<!-- 
	<select id="reportList" resultType="ReportVO"></select> 
	<update id="reviewBlind" parameterType="ReviewVO"></update>
	<update id="approvalYN" parameterType="PlaceVO"></update>
	<select id="BlockUser" resultType="BlockVO"></select>
	<update id="eventYN" parameterType="PlaceVO"></update> -->
	
</mapper>



