<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="three.people.mapper.adminMapper">
	
	<select id="userList" parameterType="SearchVO" resultType="UserVO">
		SELECT uidx,
			   id,
			   password,
			   name,
			   nickname,
			   birth,
			   userphone,
			   email,
			   gender,
			   addr,
			   regnum,
			   role,
			   delyn
		  FROM user
		 WHERE role = 2
		 	<include refid="search"></include> 
	 	 LIMIT #{start}, #{cntPerPage}
	</select>
	
	<sql id="search">
		<if test="searchType != null">
			<if test='searchType.equals("name")'>
		   		AND (name LIKE CONCAT('%',#{searchValue},'%'))
		 	</if>
		 	<if test='searchType.equals("id")'>
		   		AND (id LIKE CONCAT('%',#{searchValue},'%'))
		 	</if>		
		</if>
	</sql>
	<select id="userOne" parameterType="UserVO" resultType="UserVO">
		SELECT uidx,
			   id,
			   password,
			   name,
			   nickname,
			   birth,
			   userphone,
			   email,
			   gender,
			   addr,
			   regnum,
			   role,
			   delyn
		  FROM user
		 WHERE uidx = #{uidx} 
	</select> 
	 
	<!-- 
	<update id="userInfo" parameterType="UserVO"></update>
	<select id="reportList" resultType="ReportVO"></select> 
	<update id="reviewBlind" parameterType="ReviewVO"></update>
	<update id="approvalYN" parameterType="PlaceVO"></update>
	<select id="BlockUser" resultType="BlockVO"></select>
	<update id="eventYN" parameterType="PlaceVO"></update> -->
	
</mapper>



