<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 

<mapper namespace="three.people.mapper.bookMapper">
	

	
	<!-- <insert id="insertBook" parameterType="BookVO"></insert>
	<select id="bookOne" resultType="BookVO" parameterType="BookVO"></select>
	<update id="bookModify" parameterType="BookVO"></update>
	<update id="bookCancel" parameterType="BookVO"></update> -->
	

</mapper>
