<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 

<mapper namespace="three.people.mapper.bookMapper">
	

	<!-- 07.25 김영민: 예약정보 추가하기 -->
	<insert id="insertBook" parameterType="BookVO">
		INSERT INTO book(
			pidx,
			uidx,
			usetime,
			cntpeople,
			option1
		)VALUES(
			#{pidx},
			#{uidx},
			#{useTime},
			#{cntPeople},
			#{option1}
		)
	</insert>
	
	<!-- 08.01 김영민: 이용시간 지난 예약들 이용완료처리하기 -->
	<select id="usetimeEnd" resultType="BookVO">
		<![CDATA[
		SELECT *
		  FROM book
		 WHERE SUBSTRING(usetime,20,16) < now() AND approvalyn = 'Y'
		 ]]>
	</select>
	<update id="successBook" parameterType="BookVO">
		UPDATE book
		   SET successbook = 'Y'
		 WHERE bidx = #{bidx}
	</update>
	
	<!-- 2022.08.06 김연희 : host 센터에서 장소에 대한 예약리스트 로딩 -->
	<select id="selectBookByHost" parameterType="HashMap" resultType="BookVO">
		SELECT 
				@rownum:=@rownum+1 AS rnum
				,b.*  
		FROM 
		(SELECT 	
				bidx
				,b.pidx
				,b.uidx
				,b.bookTime
				,b.useTime
				,b.cntPeople
				,b.option1
				,b.reviewYN
				,b.approvalYN
				,b.delYN
				,p.placeName 
			FROM book b 
			JOIN place p 
			  ON b.pidx = p.pidx
		   WHERE p.uidx = #{uidx}
			 AND b.delYN ='N'
			 AND p.delYN ='N'
		ORDER BY bidx ASC) b,
		 (SELECT @rownum:=0) rnum
		ORDER BY rnum DESC
		   LIMIT #{start},#{cntPerPage}
	</select>
	
	<select id="cntBook" parameterType="int" resultType="int">
		SELECT 
				COUNT(bidx)
		FROM book b
		JOIN place p 
		  ON b.pidx = p.pidx
	   WHERE p.uidx = #{uidx}
		 AND b.delYN ='N'
		 AND p.delYN ='N'
	</select>
	<!-- 2022.08.11 김연희 : 에약 취소  -->
	<update id="bookCancel" parameterType="BookVO">
	
		UPDATE book
		SET delyn ='Y'
		WHERE bidx = #{bidx}
	
	
	</update>
	<!-- 0818 김영민: 한 장소에 해당하는 예약 내역 전부 -->
	<select id="placeBookOne" resultType="BookVO" parameterType="PlaceVO">
		SELECT bidx,
			   pidx,
			   uidx,
			   booktime,
			   usetime,
			   cntpeople,
			   option1,
			   reviewyn,
			   approvalyn,
			   delyn,
			   successbook
		  FROM book
		 WHERE delyn = 'N'
		   AND pidx = #{pidx} 
	</select>
	<!-- 0818 김영민: 한 장소의 지정한 날짜에 해당하는 예약 가져오기 -->
	<select id="disableUseTime" resultType="BookVO" parameterType="BookVO">
		<![CDATA[
		SELECT usetime
		  FROM book
		 WHERE delyn= 'N'
		   AND pidx = #{pidx} 
		   AND (usetime >= #{useTime} AND usetime < DATE_ADD(#{useTime}, INTERVAL 24 HOUR))
		   ]]>
	</select>
	<!--
	<update id="bookModify" parameterType="BookVO"></update>
	 -->
	

</mapper>
