<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="three.people.mapper.commonMapper">



<insert id="insertUser" parameterType="UserVO">

		INSERT INTO user_plend(
			 id
			,password
			,name
			,nickName
			,birth
			,userPhone
			,email
			,gender
			,addr
			,regnum
			,role
		) VALUES (
			 #{id}
			,#{password}
			,#{name}
			,#{nickName}
	<if test = "birth != null and regnum == ''">
			,#{birth}
	</if>
	<if test = "regnum != null and birth == ''">
			,#{regnum}
	</if>
			,#{userPhone}
			,#{email}
			,#{gender}
			,#{addr}
			,#{regnum}
			,#{role}
		)
	</insert>

	<select id = "selectID" parameterType="UserVO" resultType="UserVO">
		SELECT
			 password
		  FROM user_plend
		 WHERE id = #{id}
	</select>

	<select id="login" resultType="UserVO" parameterType="UserVO">
		SELECT
			 uidx
			,id
			,password
			,role
			,nickName
		FROM user_plend
	   WHERE id = #{id}
	     AND delyn = 'N'
	</select>

	<select id="selectId" resultType="UserVO" parameterType="UserVO">
		SELECT
			 name
			,email
			,id
		FROM user_plend
	   WHERE name = #{name}
	     AND email = #{email}
	</select>
	<select id="selectPwd" resultType = "int">

	</select>

	<select id="idCheck" parameterType="String" resultType="Integer">
		SELECT
			 count(*)
		  FROM user_plend
		 WHERE id = #{id}
	</select>
	<select id="nickNameCheck" parameterType="String" resultType="Integer">
		SELECT
			 count(*)
		  FROM user_plend
		 WHERE nickName = #{nickName}
	</select>
	<!-- 07.14 김영민: 회원구분별 총 인원 구하기 -->
	<select id="totalCountUser" parameterType="SearchVO" resultType="Integer">
		SELECT count(*)
		  FROM user_plend
		 WHERE role = #{role}
		 <if test="role == 2">
		 	<include refid="searchUser"></include>
		 </if>
		 <if test="role == 3">
		 	<include refid="searchEnter"></include>
		 </if>
	</select>

	<sql id="searchUser">
		<if test="searchType != null">
			<if test='searchType.equals("name")'>
		   		AND (name LIKE CONCAT('%',#{searchValue},'%'))
		 	</if>
		 	<if test='searchType.equals("id")'>
		   		AND (id LIKE CONCAT('%',#{searchValue},'%'))
		 	</if>
		</if>
	</sql>
	<sql id="searchEnter">
		<if test="searchType != null">
			<if test='searchType.equals("name")'>
		   		AND (name LIKE CONCAT('%',#{searchValue},'%'))
		 	</if>
		 	<if test='searchType.equals("nickName")'>
		   		AND (nickname LIKE CONCAT('%',#{searchValue},'%'))
		 	</if>
		</if>
	</sql>
</mapper>
