<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="three.people.mapper.hostMapper">

	<select id="totalBook" resultType="int" parameterType="UserVO"></select>
	<select id="tatalName" resultType="int" parameterType="UserVO"></select>
	
	
	<insert id="insertPlace" parameterType="PlaceVO">
	
		INSERT INTO Place(
					uidx,
					category,
					placeName,
					placeDetail,
					guide,
					tag,
					placeImg,
					address,
					option1,
					option2,
					availTimeValue,
					intervalTime,
					price
			)VALUES(
		  			#{uidx},
		  			#{category},
		  			#{placeName},
		  			#{placeDetail},
		  			#{guide},
		  			#{tag},
		  			#{placeImg},
		  			#{address},
		  			#{option1},
		  			#{option2},
		  			#{availTimeValue},
		  			#{intervalTime},
		  			#{price}
		)
		
		<!-- keyProperty: 이 쿼리가 실행 되면 결과를 어디에 담을거냐. 현재 insert에 사용한 중에 어느 컬럼에 담을거냐. order after이므로 앞의 쿼리가 실행된후 실행하겠다.  -->	
		<selectKey resultType="int" keyProperty="pidx" order="AFTER">
			SELECT max(pidx) FROM place 
		</selectKey>
	
	
	</insert>
	
	<insert id="insertPlaceImg" parameterType="ImageVO">
		
		INSERT INTO image(
					path,
					originFileName,
					realFileName,
					pidx	
			)VALUES(
					#{path},
					#{originFileName},
					#{realFileName},
					#{pidx}
		 )
		 
		 
	</insert>
	
	
	
	
	<update id="placeModify" parameterType="PlaceVO"></update>
	<update id="placeDelete" parameterType="PlaceVO"></update>
	
	<!-- 2022.07.20 김연희 이벤트 리스트 호출 -->
	<select id="eventList" parameterType="EventVO" resultType="EventVO">
		SELECT 
			 e.eidx
			,title
			,semiTitle
			,content
			,conditions
			,edate
			,startEnd
			,category
	    FROM event e
	    INNER JOIN image i
	    ON e.eidx = i.eidx
	    WHERE startEnd = #{startEnd}
	    
	</select>
	
	<!-- 2022.07.20 김연희 : 이벤트 이미지  -->
	<select id="eventImage" parameterType="EventVO" resultType="ImageVO">
		
		SELECT
			imidex
			,path
			,originFileName
			,realFileName
			,e.eidx
		FROM image i 
		JOIN event e 
		ON i.eidx = e.eidx
		WHERE e.eidx = #{eidx}
		
	</select>
	
	

	<!-- 2022.07.20 김연희 이벤트하나 호출 -->
	<select id="eventOne" parameterType="EventVO" resultType="EventVO">
		SELECT 
			e.eidx
			,title
			,semiTitle
			,content
			,conditions
			,edate
			,startend
			,category
	    FROM event e
	    INNER JOIN image i
	    ON e.eidx = i.eidx
	    WHERE e.eidx = #{eidx}
	</select>
	
	<!-- 2022.07.20 김연희 : 운영자 문의 사항 등록 -->
	<insert id="insertInquiry_dev" parameterType="InquiryVO">
	INSERT INTO inquiry(
					uidx
					,category
					,title
					,content
					,img
					,originiqidx
					,depth
					,answerRate
			)VALUES(
					 #{uidx}
					,#{category}
					,#{title}
					,#{content}
					,#{img}
					,#{originiqidx}
					,#{depth}
					,#{answerRate}
			)
	
	</insert>
	<!-- 2022.07.21 김연희 : 문의 내역 전체 불러오기 -->
	<select id="selectInquiry" parameterType="HashMap" resultType="InquiryVO">
		SELECT 
			iqidx
			,uidx
			,category
			,title
			,content
			,date
			,img
			,answerYN
			,originiqidx
			,depth
			,answerRate
		FROM inquiry
		WHERE uidx = #{uidx}
		ORDER BY iqidx DESC
		LIMIT #{start},#{cntPerPage}
		
	</select>


	<!-- 페이징 
	<select id="page" parameterType="HashMap" resultType="int">
		LIMIT #{start}, #{cntPerPage}
	</select>	
	-->
	
	
	<!--2022.07.21 김연희 : 문의 내역 하나 -->
	<select id="selectInquiryOne" parameterType="InquiryVO" resultType="InquiryVO">
		SELECT 
			iqidx
			,uidx
			,category
			,title
			,content
			,date
			,img
			,answerYN
			,originiqidx
			,depth
			,answerRate
		FROM inquiry
		WHERE uidx = #{uidx}
		AND iqidx = #{iqidx}
		ORDER BY iqidx DESC
	</select>
	
	<!-- 2022.07.21 김연희: 페이징 위한 문의 갯수 -->
	<select id="cntIqidx" parameterType="InquiryVO" resultType="int">
		SELECT
			COUNT(iqidx)
		FROM inquiry
	</select>
	
	
	<!-- 2022.07.21 김연희 : 문의 수정 -->
	<insert id="inquiryEdit_dev" parameterType="InquiryVO" >
		UPDATE inquiry 
		   SET title = #{title}
			  ,content = #{content} 
			  ,category = #{category}
		 WHERE iqidx = #{iqidx}
	</insert>
	
</mapper>



