<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="three.people.mapper.hostMapper">

	<select id="totalBook" resultType="int" parameterType="UserVO"></select>
	<select id="tatalName" resultType="int" parameterType="UserVO"></select>
	
	
	<insert id="insertPlace" parameterType="PlaceVO">
	
		INSERT INTO Place(
					uidx,
					category,
					placeName,
					placeDetail,
					guide,
					tag,
					placeImg,
					address,
					option1,
					option2,
					availTimeValue,
					intervalTime,
					price
			)VALUES(
		  			#{uidx},
		  			#{category},
		  			#{placeName},
		  			#{placeDetail},
		  			#{guide},
		  			#{tag},
		  			#{placeImg},
		  			#{address},
		  			#{option1},
		  			#{option2},
		  			#{availTimeValue},
		  			#{intervalTime},
		  			#{price}
		)
		
		<!-- keyProperty: 이 쿼리가 실행 되면 결과를 어디에 담을거냐. 현재 insert에 사용한 중에 어느 컬럼에 담을거냐. order after이므로 앞의 쿼리가 실행된후 실행하겠다.  -->	
		<selectKey resultType="int" keyProperty="pidx" order="AFTER">
			SELECT max(pidx) FROM place 
		</selectKey>
	
	
	</insert>
	
	<insert id="insertPlaceImg" parameterType="ImageVO">
		
		INSERT INTO image(
					path,
					originFileName,
					realFileName,
					pidx	
			)VALUES(
					#{path},
					#{originFileName},
					#{realFileName},
					#{pidx}
		 )
		 
		 
	</insert>
	
	
	
	
	<update id="placeModify" parameterType="PlaceVO"></update>
	<update id="placeDelete" parameterType="PlaceVO"></update>
	
</mapper>



