<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="three.people.mapper.mainMapper">

	<select id="noticeAll" parameterType="SearchVO" resultType="NoticeVO">
	SELECT @ROWNUM := @ROWNUM + 1 AS rnum, sub.*
	FROM (SELECT @ROWNUM := 0 )rnum, (
		SELECT 
			 nidx
			,title
			,nickName
			,a.date
			,hit
		FROM notice a
  INNER JOIN user_plend b
  		  ON a.uidx = b.uidx
  	   WHERE a.delyn = 'N' 
  	     AND category = '1'
  	     <include refid = "searchTitle"></include>
  	ORDER BY nidx asc) sub
		  ORDER BY rnum desc
  	   LIMIT #{start}, #{cntPerPage}
	</select>	
	<sql id = "searchTitle">
		<if test = "searchValue != null">
			AND (title LIKE CONCAT('%',#{searchValue},'%'))
		</if>
	</sql>
	<select id = "noticeTotal" parameterType = "SearchVO" resultType = "Integer">
		SELECT count(*) 
		  FROM notice
		 WHERE delyn = 'N'
		 <include refid = "searchTitle"></include>
	</select>
	<select id = "prevNextTitle" resultType = "NoticeVO" parameterType="int">
		SELECT * FROM (
			select nidx, LAG(title,1,-1) OVER (order by nidx) AS preTitle, 
			LEAD(title) OVER(order by nidx) AS nextTitle 
			FROM notice 
			where delyn = 'N' group by nidx) A 
			where nidx = #{nidx};
		
	</select>
	<select id = "prevNextNidx" resultType = "NoticeVO" parameterType="int">
		SELECT * FROM (
			select nidx, LAG(nidx,1,-1) OVER (order by nidx) AS pre, 
			LEAD(nidx) OVER(order by nidx) AS next 
			FROM notice 
			where delyn = 'N' group by nidx) A 
			where nidx = #{nidx};
		
	</select>
	<select id = "noticeOne" resultType ="NoticeVO" parameterType = "int">
		SELECT 
			 nidx
			,b.uidx
			,title
			,content
			,nickName
			,a.date
			,hit
		FROM notice a
  INNER JOIN user_plend b
  		  ON a.uidx = b.uidx 
  		 AND a.nidx = #{nidx}
	</select>
	<update id = "hitPlus" parameterType = "int">
		UPDATE notice
		  SET hit = hit + 1
		WHERE nidx = #{nidx}
	</update>
	<select id="faqAll" resultType="FaqVO" parameterType="HashMap">
		SELECT 
			 fidx
			,question
			,answer
			,category
			,a.role
			,a.uidx
		FROM faq a
  INNER JOIN user_plend b
  		  ON a.uidx = b.uidx
  		  <if test='category != null'>
  	   WHERE category = #{category}
  	   	  </if>
  	   	  <if test = 'category == null'>
  	      	<include refid = "searchQuestionAnswer"></include>
  	   	  </if>
  	ORDER BY fidx desc
	</select>
	<sql id = "searchQuestionAnswer">
		<if test = "searchValue != null"> 
			WHERE (question LIKE CONCAT('%',#{searchValue},'%'))
			 OR (answer LIKE CONCAT('%',#{searchValue},'%'))
		</if>
	</sql>
	<select id = "faqOne" resultType ="faqVO" parameterType = "int">
		SELECT 
			 fidx
			,a.uidx
			,question
			,answer
			,category
		FROM faq a
  INNER JOIN user_plend b
  		  ON a.uidx = b.uidx 
  		 AND fidx = #{fidx}
	</select>
	<insert id="insertNotice" parameterType="NoticeVO">
		INSERT INTO notice (
			 uidx
			,role
			,title
			,content
			,fileName
			,category
		) VALUES (
			 #{uidx}
			,#{role}
			,#{title}
			,#{content}
			,#{fileName}
			,#{category}
		)
	</insert>
	<insert id="insertFaq" parameterType="FaqVO">
		INSERT INTO faq (
			 uidx
			,role		
			,category
			,question
			,answer
		) VALUES (
			 #{uidx}
			,#{role}
			,#{category}
			,#{question}
			,#{answer}
		)		
	</insert>
	<update id="noticeModify" parameterType="NoticeVO">
		UPDATE notice 
		   SET title = #{title}
		      ,content = #{content}
		      ,fileName = #{fileName}
		      ,category = #{category}
		 WHERE nidx = #{nidx}  
	
	</update>
	<update id="faqModify" parameterType="FaqVO">
		UPDATE faq
		   SET question = #{question}
		      ,answer = #{answer}
		      ,category = #{category}
		 WHERE fidx = #{fidx}  
	</update>
	<update id="noticeDelete" parameterType="int">
		UPDATE notice
		  SET delyn = 'Y'
		WHERE nidx = #{nidx}
	</update>
	<update id="faqDelete" parameterType="FaqVO"></update>
	<select id="randomPlace" resultType="PlaceVO">
	
	
	
	</select>
	<select id="eventPlace" resultType="PlaceVO"></select>
	<!-- <select id="reviweALl" resultType="ReviewVO"></select> -->
</mapper>



