<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="three.people.mapper.mypageMapper">
	
	<select id="userInfo" resultType="UserVO" parameterType="UserVO">
		SELECT 
			 uidx
			,id
			,nickName
			,userPhone
			,email
			,addr
			,birth
		FROM user_plend
	   WHERE uidx = #{uidx}
	</select>
	<update id="userModify" parameterType="UserVO">
		UPDATE user_plend
		   SET userPhone = #{userPhone}
		   	  ,email = #{email}
		   	  ,addr = #{addr}
		   	  ,birth = #{birth}
		   	  ,password = #{password}
		 WHERE uidx = #{uidx}
	</update>
	<select id = "checkUser" parameterType="int" resultType= "int">
		SELECT 
			 count(*)
		  FROM user_plend
		 WHERE uidx = #{uidx} 
	</select>
	<select id = "inquirePwd" parameterType="int" resultType="UserVO">
		SELECT 
			 password
		  FROM user_plend
		 WHERE uidx = #{uidx}
	</select>
	<update id="userWithdraw"  parameterType="int">
		UPDATE user_plend 
		   SET delyn = 'Y'
		 WHERE uidx = #{uidx}
	</update>
	<select id="bookList" resultType="BookVO" parameterType="UserVO">
		SELECT 
			 bidx
			,a.pidx
			,a.uidx
			,booktime
			,usetime
			,cntpeople
			,a.reviewYN
			,a.approvalyn
			,a.successbook
			,b.placename
			,b.price
			,a.option1
	     FROM book a
   INNER JOIN place b 
   		   ON a.pidx = b.pidx
   		WHERE a.uidx = #{uidx}
   		  AND a.approvalYN = 'N'
   		  AND a.delyn = 'N'
	</select>
	<select id="bookedList" resultType="BookVO" parameterType="HashMap">
		SELECT 
			 bidx
			,a.pidx
			,a.uidx
			,booktime
			,usetime
			,cntpeople
			,a.reviewYN
			,a.approvalyn
			,a.successbook
			,b.placename
			,b.price
			,a.option1
	     FROM book a
   INNER JOIN place b 
   		   ON a.pidx = b.pidx
   		WHERE a.uidx = #{uidx}
   		  AND a.approvalYN = 'Y'
   		  AND a.delyn = 'N'
   		LIMIT #{start},#{end}
	</select>
	<select id="bookOne" resultType="BookVO" parameterType="UserVO">
		SELECT 
			 bidx
			,a.pidx
			,a.uidx
			,booktime
			,usetime
			,cntpeople
			,a.reviewYN
			,a.approvalyn
			,a.successbook
			,b.placename
			,b.price
			,a.option1
	     FROM book a
   INNER JOIN place b 
   		   ON a.uidx = b.uidx
   		WHERE bidx = #{bidx}
	</select>
	<select id = "bookTotal" parameterType = "UserVO" resultType="Integer" >
		SELECT count(bidx)
		  FROM book
		 WHERE delyn = 'N'
		   AND uidx = #{uidx}
		   AND approvalYN = 'Y'
	</select>
	<update	 id = "cancelBook" parameterType = "int">
		UPDATE book
		   SET delyn = 'Y'
		 WHERE bidx = #{bidx} 
	</update>
	
	<!-- 08.02 김영민: 리뷰등록  -->
	<insert id="insertReview" parameterType="ReviewVO">
		INSERT INTO review(
			pidx,
			title,
			content,
			rate,
			uidx
		)VALUES(
			#{pidx},
			#{title},
			#{content},
			#{rate},
			#{uidx}
		)
	</insert>
	<update id="updateReivew" parameterType="ReviewVO">
		UPDATE book
		   SET reviewyn = 'Y'
		 WHERE bidx = #{bidx}
	</update>
	<!-- 08.03 김영민: 내 리뷰 불러오기 -->
	<select id="myReview" resultType="ReviewVO" parameterType="UserVO">
		SELECT rvidx
			  ,pidx
			  ,title
			  ,content
			  ,rate
			  ,date
			  ,delyn
			  ,uidx
		  FROM review
		 WHERE uidx = #{uidx} 
	</select>
	<select id="countMyReview" resultType="int" parameterType="UserVO">
		SELECT COUNT(*)
		  FROM review
		 WHERE uidx = #{uidx}
	</select>

	<select id="likeList" resultType="PlaceVO" parameterType="UserVO"></select>


</mapper>










