<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="three.people.mapper.mypageMapper">
	
	<select id="userInfo" resultType="UserVO" parameterType="UserVO">
		SELECT 
			 uidx
			,id
			,nickName
			,userPhone
			,email
			,addr
			,birth
		FROM user_plend
	   WHERE uidx = #{uidx}
	</select>
	<update id="userModify" parameterType="UserVO">
		UPDATE user_plend
		   SET userPhone = #{userPhone}
		   	  ,email = #{email}
		   	  ,addr = #{addr}
		   	  ,birth = #{birth}
		   	  ,password = #{password}
		 WHERE uidx = #{uidx}
	</update>
	<select id = "checkUser" parameterType="int" resultType= "int">
		SELECT 
			 count(*)
		  FROM user_plend
		 WHERE uidx = #{uidx} 
	</select>
	<select id = "inquirePwd" parameterType="int" resultType="UserVO">
		SELECT 
			 password
		  FROM user_plend
		 WHERE uidx = #{uidx}
	</select>
	<update id="userWithdraw"  parameterType="int">
		UPDATE user_plend 
		   SET delyn = 'Y'
		 WHERE uidx = #{uidx}
	</update>
	<select id="bookList" resultType="BookVO" parameterType="UserVO">
		SELECT 
			 bidx
			,a.pidx
			,a.uidx
			,booktime
			,usetime
			,a.cntpeople
			,a.reviewYN
			,a.approvalyn
			,a.successbook
			,b.placename
			,b.price
			,a.option1
			,rejectcontent
	     FROM book a
   INNER JOIN place b 
   		   ON a.pidx = b.pidx
   		WHERE a.uidx = #{uidx}
   		  AND a.delyn = 'N'
	</select>
	<select id="bookedList" resultType="BookVO" parameterType="HashMap">
		SELECT 
			 bidx
			,a.pidx
			,a.uidx
			,booktime
			,usetime
			,a.cntpeople
			,a.reviewYN
			,a.approvalyn
			,a.successbook
			,b.placename
			,b.price
			,a.option1
			,rejectcontent
	     FROM book a
   INNER JOIN place b 
   		   ON a.pidx = b.pidx
   		WHERE a.uidx = #{uidx}
   		  AND a.successbook = 'Y'
   		  AND a.delyn = 'N'
   		LIMIT #{start},#{end}
	</select>
	<select id="bookOne" resultType="BookVO" parameterType="UserVO">
		SELECT 
			 bidx
			,a.pidx
			,a.uidx
			,a.booktime
			,a.usetime
			,a.cntpeople
			,a.reviewYN
			,a.approvalyn
			,a.successbook
			,b.placename
			,b.price
			,a.option1
			,rejectcontent
	     FROM book a
   INNER JOIN place b 
   		   ON a.pidx = b.pidx
   		WHERE bidx = #{bidx}
	</select>
	<select id = "bookTotal" parameterType = "UserVO" resultType="Integer" >
		SELECT count(bidx)
		  FROM book
		 WHERE delyn = 'N'
		   AND uidx = #{uidx}
		   AND approvalYN = 'Y'
	</select>
	<update	 id = "cancelBook" parameterType = "int">
		UPDATE book
		   SET delyn = 'Y'
		 WHERE bidx = #{bidx} 
	</update>
	
	<select id="likeList" resultType="PlaceVO" parameterType="HashMap">
	<!-- 08.09 김하진 별점 나중에 추가 -->
		SELECT 
			 a.pidx
			,a.uidx
			,c.placeimg
			,c.placeName
			,c.address
			,c.price
		FROM heart a 
		JOIN user_plend b
		  ON a.uidx = b.uidx
		JOIN place c 
		  ON a.pidx = c.pidx 
	   WHERE b.uidx = #{uidx}
	   LIMIT #{start}, #{end}
	</select>
	<select id = "selectImgOne" parameterType = "PlaceVO" resultType = "ImageVO">
	<!-- 08.10 김하진 찜 목록 사진 가져오기 추가 -->
		SELECT 
			    MIN(imidex)
			   ,imidex
			   ,path
			   ,originfilename
			   ,realfilename
			   ,pidx
			   ,eidx
		  FROM image
		 WHERE pidx = #{pidx}
	</select>
	<select id = "likeListTotal" parameterType = "int" resultType = "int">
			SELECT count(*)
			  FROM heart
			 WHERE uidx = #{uidx}
	</select>
</mapper>










