<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="three.people.mapper.placeMapper">
	
	<select id="selectPlaceAll" resultType="PlaceVO" parameterType="SearchVO">
			
			SELECT
				  pidx
				 ,uidx
				 ,category
				 ,placeName
				 ,eventYN
				 ,placeDetail
				 ,guide
				 ,tag
				 ,placeImg
				 ,address
				 ,option1
				 ,option2
				 ,price
				 ,delYN
				 ,approvalYN
				 ,availTimeValue
				 ,intervalTime 
			FROM place
		ORDER BY pidx DESC
		   LIMIT #{start},#{cntPerPage}
	
	</select>
	<!-- 2022.07.19 김연희: 페이징 처리 위해 만듬 -->
	<select id="cntPlace" parameterType="PlaceVO" resultType="int">
		SELECT
			   COUNT(pidx)
		  FROM place 
		 WHERE delYN ='N'
	</select>
	
	<select id="placeOne" resultType="PlaceVO" parameterType="PlaceVO"></select>
	<select id="randomPlace" resultType="PlaceVO"></select>
	
</mapper>



